@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Use this area to provide additional information.</p>
<h3>@ViewData["Exemplo"]</h3>
<address>Rua 1, comp 2</address>